@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter.ttf");
}

@font-face {
  font-family: "EB Garamond";
  src: url("./fonts/EB Garamond.ttf");
}

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-family: Inter;
  line-height: 1.75;
}

h1,
h2,
h3 {
  font-family: EB Garamond;
}

.font-serif {
  font-family: EB Garamond;
}

.outline-title {
  color: black;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
    -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.bounce {
  animation: bounce 1s infinite;
}

.frosted-clear {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.frosted {
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

.frosted-opaque {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
}

#splash-container {
  height: 3000px;
}

#splash-scroll {
  height: 4000px;
}

#splash-content {
  margin-bottom: 100vh;
}

#spacer {
  height: 50vh;
}

td {
  padding: 0.4rem 0.6rem;
}

a {
  color: #d74;
  text-decoration: underline;
}
